# Compiled Object files
*.slo
*.lo
*.o
*.obj
moc_*.o
moc_*.cpp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# compiled language files
*.qm

# Directories
.obj/*
/release
windows_setup/windows_setup.pro
windows_setup/windows_setup.pro.user
kflog/object_script.kflog
kflog.pro.user

/Makefile
/kflog/kfrcai/Makefile
/kflog/kfrfil/Makefile
/kflog/kfrfla/Makefile
/kflog/kfrgcs/Makefile
/kflog/kfrgmn/Makefile
/kflog/kfrxsp/Makefile
/kflog/opengl_igc/Makefile
/Kflog4Windows.pro
