# Compiled Object files
*.slo
*.lo
*.o
*.obj
moc_*.o
moc_*.cpp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
.obj/*
/release
/Makefile
