# Compiled Object files
*.slo
*.lo
*.o
*.obj
moc_*.o
moc_*.cpp

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
.obj/*
/release

/Makefile
/kflog/kfrcai/Makefile
/kflog/kfrfil/Makefile
/kflog/kfrfla/Makefile
/kflog/kfrgcs/Makefile
/kflog/kfrgmn/Makefile
/kflog/kfrxsp/Makefile
/kflog/opengl_igc/Makefile
/Kflog4Windows.pro
