<!DOCTYPE kpartgui ><kpartgui version="2.0.4" name="kflog" >
 <MenuBar>
  <Menu name="file" >
    <text>&amp;File</text>
    <Action name="flight_print" />
  </Menu>
  <Menu name="view" >
   <text>&amp;View</text>
   <Action name="view_center_task" />
   <Action name="view_center_flight" />
   <Action name="view_center_home" />
   <Action name="move_map" />
  </Menu>
  <Action name="flight" />
  <Menu name="settings" >
   <Action name="toggle_data_view" />
   <Action name="toggle_map_control" />
   <Action name="toggle_map" />
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar" >
  <text>Main Toolbar</text>
  <Action name="file_open" />
  <Separator weakSeparator="1" name="separator_2" />
  <Action name="view_zoom_in" />
  <Action name="view_zoom_out" />
  <Action name="view_redisplay" />
  <Separator weakSeparator="1" name="separator_1" />
  <Action name="view_center_home" />
  <Action name="view_center_task" />
  <Action name="view_center_flight" />
  <Separator weakSeparator="1" name="separator_0" />
  <Action name="evaluate_flight" />
  <Action name="task_and_waypoint" />
 </ToolBar>
</kpartgui>
