<!DOCTYPE kpartgui ><kpartgui version="2.1.0" name="kflog" >
 <MenuBar>
  <Menu name="file" >
   <text>&amp;File</text>
   <Action name="recorderdialog" />
   <Action name="file_import_flightgear" />
   <Action name="file_import_gardown" />
  </Menu>
  <Menu name="view" >
   <text>&amp;View</text>
   <Action name="move_map" />
  </Menu>
  <Action name="flight" />
  <Menu name="settings" >
   <Action name="toggle_data_view" />
   <Action name="toggle_map_control" />
   <Action name="toggle_map" />
   <Action name="toggle_legend" />
   <Action name="toggle_help_window" />    
   <Action name="waypoints" />  
   <Action name="tasks" />
   <Action name="toggle_objectTree" />
   <Separator weakSeparator="1" name="separator_3" />
   <Action name="reset_confirmations" />
  </Menu>
  <Action name="window" />
  <Menu name="help">
    <Action name="help_show_tip" />
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar" >
  <text>Main Toolbar</text>
  <Action name="file_open" />
  <Separator weakSeparator="1" name="separator_2" />
  <Action name="view_zoom" />
  <Action name="view_zoom_in" />
  <Action name="view_zoom_out" />
  <Action name="view_redisplay" />
  <Separator weakSeparator="1" name="separator_1" />
  <Action name="view_actual_size" />
  <Action name="view_fit_to_page" />
  <Action name="view_fit_to_width" />
  <Separator weakSeparator="1" name="separator_0" />
  <Action name="evaluate_flight" />
  <Action name="waypoints" />
  <Action name="tasks" />
 </ToolBar>
</kpartgui>
