[Desktop Entry]
Version=1.0
Type=Application
Name=KFLog
Comment=Flight planner and logger for glider pilots
Comment[de]=Flugplanungs- und Auswerteprogramm für Segelflieger
Exec=/opt/kflog/bin/kflog
Icon=/opt/kflog/pics/pilot_48.png
Path=
Terminal=false
StartupNotify=false
GenericName=Flight planner and logger
GenericName[de]=Flugplanungs- und Auswerteprogramm
Categories=Qt4;Utility;Navigation
