Source: kflog
Section: utils
Priority: optional
Maintainer: Axel Pauli <kflog.cumulus@gmail.com>
Build-Depends: debhelper-compat (= 13), libqt5core5a:amd64 (>= 5.14.0), libqt5network5:amd64 (>= 5.14.0), libqt5xml5:amd64 (>= 5.14.0), libqt5gui5:amd64 (>= 5.14.0), libqt5widgets5:amd64 (>= 5.14.0), qt5-qmake:amd64 (>= 5.14.0), qttools5-dev-tools (>= 5.14.0)
Standards-Version: 4.5.1
Homepage: https://github.com/kflog-project/KFLog
Vcs-Browser: https://github.com/kflog-project/KFLog
Vcs-Git: https://github.com/kflog-project/KFLog

Package: kflog
Architecture: any
Section: utils
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Flight planner and logger for glider pilots
 KFLog gives you a tool to plan your flight tasks and analyze your
 flights afterwards. It is the only flight analyzer program available for Linux
 to be recognized by the FAI IGC.
 .
 KFLog projects the flights on a digital vector map, that contains not only
 airfields and airspaces, but a complete elevation map, roads, cities, rivers,
 and lots of other interesting objects.
 .
 For more information about KFLog please take a look at its home page at
 https://github.com/kflog-project/KFLog.
